$background-color: rgba(255, 255, 255, 1);

[curtain] {
  background-color: $background-color;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0;
  white-space: nowrap;
  width: 0;
  z-index: 1;
}
