.place-kitten {
  background-image: url('https://pbs.twimg.com/profile_images/433383045304164352/m1HB-sX8.jpeg');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
